.logo
{
	float:left;
}
.logo img
{
	height:45px;
}
li.username a 
{
	color:white !important;
}
.logout-link
{
	cursor:pointer;
}
.container-area
{
	padding-top:60px;
}
footer
{
	text-align:center;
}
.wait-backdrop
{
	opacity:0.3;
	background: #000000;
	position:absolute;
	text-align:center;
}
.mainarea
{
	
}
.tiny-label
{
	font-size:10px;
	font-weight:bold;
}
.sidebar .nav
{
	border-left:1px solid #aaa;
	
}
.sidebar .nav a
{
	font-size:11px;
}
