.logo
{
	float:left;
}
.logo img
{
	height:45px;
}
li.username a 
{
	color:white !important;
}
.logout-link
{
	cursor:pointer;
}
.container-area
{
	padding-top:60px;
}
footer
{
	text-align:center;
}
.wait-backdrop
{
	opacity:0.3;
	background: #000000;
	position:absolute;
	text-align:center;
}
.mainarea
{
	
}
.tiny-label
{
	font-size:10px;
	font-weight:bold;
}
.sidebar .nav
{
	border-left:1px solid #aaa;
	
}
.sidebar .nav a
{
	font-size:11px;
}
.post-view-block
{
	padding-bottom:5px;
	border-bottom:1px solid #ddd;
	padding-top:10px;
}
.img40
{
	width:40px;
	height:40px;
}
.commentsSection
{
	padding-top:10px;
}
.commentRow
{
	margin-top:5px;
	margin-bottom:5px;
}
.rowBlock
{
	padding-top:5px;
	padding-left:5px;
	border-bottom:1px solid #ddd;
}
.topbar{
	position:static;
	top:0px;
	left:0px;
}
